.comment {

  .name {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
  }

  .date {
    font-size: 10px;
    display: inline-block;
    right: 15px;
    position: absolute;
    top: 0
  }

  .video {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    font-weight: 100;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
  }

  .comment-content {
    margin-left: 46px
  }


}

.thumbnail-display {
  width : 100px;
    img{
      
      border-radius : 10% !important ; 
    }
}

.text-wrap {
  white-space : pre-wrap !important
}

.text-center{
  text-align: center !important;
}
